*{
border: 0px;
margin: 0px;
font-family: "微软雅黑";
}
body,html{
	width: 100%;
	height: 100%;
}
/* 清除浮动 */
.clear-box:after {clear:both;content:'';display:block;height: 0;visibility:hidden;} 
.clear-box {zoom:1;}
/**
 * 整体
 */
#box{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}

/**
 * 返回按钮
 */
#return{
	width: 70mm;
    height: 21mm;
	position: relative;
	top: 6%;
	left: 4%;
}
#return>a{
	width: 100%;
	height: 100%;
	
}
#return>a>img{
	width: 100%;
	height: 100%;
}

/**
 * 头部
 */
#head{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4%;

}

#head span{
	color: #FF9600;
	font-size: 15px;	
}

/**
 * 中部
 * 
 */
#box1{
	width: 100%;
	overflow: hidden;
	/*border: 1px solid #FFFFFF;*/
	border-radius: 0.3rem;
	margin-top: 2%;
}


/*图片上传*/
#file{
	width: 100%;
	/* height: 400px; */
	overflow: hidden;
	margin: 2% auto;
	padding-left: 5%;
	margin-bottom: 10px;
}	

/**
 * 文件上传
 */	
.showimg{
	width: 27.3%;
	height: 100%;
	text-decoration: none;
	float: left;
}
.shows {
	width: 54.6%;
	height: 100%;
	float: left;
}

/**
 * div
 */
#boxx{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


#boxx span{
	color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 1.2rem;
    margin-bottom: 7px;
    margin-top: 18px;
}
.boxxTitle {
	width: 100%;
	margin: 0 auto;
}
.boxxTitle p:nth-child(2) {
	margin-top: 8px;
}
.boxxTitle span {
	font-size: 19.2px;
	color: #fff;
	margin-top: 10px;
	display: block
}
.boxxTitle p {
	color: #fff;
}
#boxx input{
	display: none;
}
/**
 * 图片
 */
#boxx img{
	width: 300px;
	height: 335px;
	border-radius: 8px;
}

/**
 * 底部
 */
#dibu-box{
	width: 90%;
	height: 10%;
	/*border: 1px solid #FFFFFF;*/
	margin: 0 auto;
	font-size: 1.2rem;
	padding-bottom: 3%;
}

#box-one1{
	height: 60%;
	/* border: 1px solid #FF0000; */
	color: #FFFFFF;
}
#box-one2{
	height: 60%;
	/*border: 1px solid bisque;*/
	margin-top: 3%;
}

#box-one2 #ShowDiv{
	font-family: "微软雅黑";
	font-size: 1.2rem;
	color: #FFFFFF;
	background-color: #FF9600;
	border-radius: 5px;
	padding: 10px  20px;
	float: right;
	margin-top: 20px;
}
.pateInput{
	display: inline-block;
    vertical-align: top;
}
.pateInput input{
	width: 20opx;
    height: 40px;
    border-radius: 6px;
    background: #fff;
	padding-left: 10px;
	margin:20px 0 0 50px;
}
.bgSize{
	width: 90%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.4);
	padding-top: 1%;
	overflow: hidden;
}
#box-one1 select{
	height: 40px;
	line-height: 40px;
	background: transparent;
	border:1px solid #e1e1e1;
	color:#999;
	border-radius: 5px;
}
#city{
	width: 10%;
}
#qu{
	width: 15%;
}
#hospial{
	width: 35%;
}
.pateFile{
	height:50px;
	float: left;
	width: 49%;
	position: relative;

}
.pateFile span{
	display: inline-block;
    color: #fff;
	font-size: 1.2rem;
	width: 120px;
	margin-right: 5px
}
.pateFile input{
	height: 38px;
}
#pateUpload{
	position: absolute;
	right: 19%;
	width: 100px;
	opacity: 0;
}
.excel{
    padding-left: 10px;
	border-radius: 5px;
	width: 50%;
	line-height: 40px;
	background: transparent;
	border:1px solid #e1e1e1;
	color:#999;
}
.tjTime span {
	font-size: 1.2rem;
	color: #fff;
	line-height: 40px;
	float: left;
	width: 140px;
	margin:20px 5px 0 0;
}
.tjTime #selectorTime {
	width: 200px;
	height: 40px;
	float: left;
	border-radius: 5px;
	padding-left: 10px;
	box-sizing: border-box;
	margin-top: 20px;
}
#residueNum {
	width: 100px;
	height: 40px;
	background: #fff;
	border-radius: 5px;
	padding-left: 10px;
} 
.residueTit{
	width: 120px;
	color: #fff;
	float: left;
	margin-top: 20px;
} 
.residue {
	display: inline-block;
	margin-left: 60px;
}
.showimgs {
	height: 100%;
	border: 1px solid #fff;
}
#showTemplate {
	width: 48%;
	height: 100%;
	border-radius: 8px;
	float: left;
	/* border: 1px solid red; */
}
.templateBox {
	width: 267px;
	margin: 0 auto;
	float: left;
}
#showTemplate img {
	width: 267px;
	height: 216px;
	/* border-radius: 8px; */
	cursor: pointer;
}
.viewer-button {
	background: red !important;
}
.time_am,
.time_pm {
	width: 150px;
	height: 80px;
	border: 2px solid #fff;
	float: left;
	border-radius: 5px;
	padding: 5px 3px;
	box-sizing: border-box;
}
.time_pm {
	margin-left: 10px;
}
.time_pm span,
.time_am span {
	font-weight: bold;
	color: #e9e9e9;
	height: 70%;
	display: block;
	font-size: 17px;
	/* cursor: pointer; */
}
.time_pm h5,
.time_am h5 {
	float: right;
	font-size: 16px;
	color: #d2d2d2;
}
.time_pm h5 em,
.time_am h5 em {
	font-style: normal;
	color: #FF9600;
	font-size: 20px;
	font-weight: bold;
}
.times.cur{
	border:2px solid #FF9600;
}
#showTemplate h4 {
	text-align: center;
	font-size: 19.2px;
	/* border: 1px solid #000; */
	margin-top: 10px;
	color: #fff;
}
.templateTit {
	color: #FF9600;
	font-style: normal;
}
.templateTexts {
	width: 20%;
	font-style: normal;
	color: #fff;
	float: left;
	/* border: 1px solid red; */
}
#showTemplate p {
	color: #fff;
	margin-top: 8px;
}
#showTemplate p .red {
	color: #FF9600;
	font-style: normal;
}