*{
	border: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
body,html{
	width: 100%;
	height: 100%;
}

#box{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}


#return{
	width: 171px;
	height:61px;
	position: relative;
	top: 6%;
	left: 4%;
}
#return>a{
	width: 100%;
	height: 100%;
	
}
#return>a>img{
	width: 100%;
	height: 100%;
}



#box-area{
	width: 100%;
	height: 10%;
	/*border: 1px solid #FF0000;*/
	display: flex;
	margin: 0 auto;
	align-items: center;
}
#box-area>a{
	width: 25%;
	height: 100%;
	margin: auto 3%;
	text-decoration: none;
}
#box-select{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#box-dibu input{
	width: 100%;
	height: 80%;
	border-radius: 0.3rem;
	font-size: 1.3rem;
	background: #ff9600;
	color:#FFFFFF;
	outline: none;
	border:none;
}
#sedCode{
	background: #ff9600;
	color:#FFFFFF;
	outline: none;
	border:none;
}
#content{
	width: 25%;
	height: 60%;
	border-radius:2%;
    background-color:rgba(0,0,0,0.2);
	float: right;
	margin-right: 10%;
	box-shadow: 0px 0px 10px -4px #ccc;
	margin-top: 6%;

}


#title{
	width: 100%;
	height: 12%;
	/*border: 1px solid #000000;*/
	text-align: center;
	line-height: 3.5rem;
	padding-top: 2%;
}
#title span{
	/*font-size: 2rem;*/
	font-size: 200%;
	color: #FFFFFF;
	
}

#box-one{
	width: 100%;
	height: 75%;
	/*border: 2px solid red;*/
	align-items: center;
}

#box-input{
	width: 81%;
	height: 14%;
	/*border: 1px solid #000000;*/	
	margin-top: 6%;
	margin-left: 7%;
	
}
#box-input input{
	padding-left: 10px;
	width: 100%;
	height: 80%;
	border-radius: 0.3rem;
	/*font-size: 1.2rem;*/
	font-size: 120%;
	padding-left: 3%;
}
#box-input input::-webkit-input-placeholder{
	font-size: 70%;
}
option{
	border: 1px solid black;
}
#box-code{
	width: 60%;
	height: 80%;
	border-radius: 0.3rem;
	float: left;
	/*border: 1px solid #000000;*/
}
#box-code2{
	width: 35%;
	height: 85%;
	border-radius: 0.3rem;
	float: right;
	margin-right: -3%;
	/*border: 1px solid red;*/
}

#box-code input{
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
}

#box-code2 input{
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
}

/**
 * 操作按钮
 */

#box-dibu{
	width: 104%;
	height: 102%;
	display: flex;
	margin: 0 auto;
	align-items: center;
}
#box-dibu>a{
	width: 100%;
	height: 100%;
	margin: auto 4px;
	text-decoration: none;
}
#box-button{
	width: 100%;
	height: 100%;
}


















