* {
    margin: 0;
    padding: 0;
}
@page {
    margin: 0;
}

body {
    background: #fff;
}
.box {
    width: 384px;
    height: 245px;
    padding: 9px 20px;
    box-sizing: border-box;
    background-size: 384px 240px;
    display: none;
}
.box_center {
    height: 100%;
    position: relative;
}
.box_tit {
    height: 37px;
    text-align: center;
    font-family: "宋体";
    color: green;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 20px;
    font-weight: bold;
}
.boxHome {
    height: 160px;
    display: flex;
    justify-content: space-between;
}
.boxImg {
    width: 100px;
    height: 140px;
    margin-top: 14px;
}
.personImg {
    width: 100%;
    height: 100%;
}
.boxInputs {
    width: 253px;
    height: 160px;
    position: relative;
    margin-top: 14px;
}
.companyTitle {
    font-weight: 400;
    font-size: 14px;
    font-family: "宋体";
    height: 20px;
    line-height: 40px;
    text-align: center;
    color: green;
    font-weight: bold;
}
.liners {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.liners_item1 {
    width: 50%;
    height: 35px;
}
.liners_item2 {
    width: 39%;
    height: 35px;
}
.liners_tit {
    width: 40px;
    height: 45px;
    font-size: 16px;
    font-family: "宋体";
    font-weight: bold;
}
.liners_input {
    width: 75px;
    border: 0;
    font-size: 16px;
    font-family: '宋体';
    font-weight: bold;
}
.Ylines {
    height: 35px;
    margin-left: 10px;
}
.erweima {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    bottom: 8px;
}
.zhang {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 63px;
    bottom: 10px;
}