* {
    padding: 0;
    margin: 0;
}
.homeConter {
    width: 100%;
    /* height: 500px; */
    /* border: 1px solid #000; */
}
.homeConter h2 {
    margin: 10px auto;
    width: 255px;
    height: 50px;
    /* border: 1px solid #000; */
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}