*{
	border: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
body,html{
	width: 100%;
	height: 100%;
}

#box{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}


#return{
	width: 171px;
	height:61px;
	position: relative;
	top: 6%;
	left: 4%;
}
#return>a{
	width: 100%;
	height: 100%;
	
}
#return>a>img{
	width: 100%;
	height: 100%;
}



#content{
	width: 25%;
	height: 55%;
	border-radius:2%;
    background-color:rgba(0,0,0,0.2);
	float: right;
	margin-right: 10%;
	margin-top: 8%;
	box-shadow: 0px 0px 10px -4px #ccc;
}


#title{
	width: 100%;
	height: 15%;
	/*border: 1px solid #000000;*/
	text-align: center;
	line-height: 4rem;
	padding-top: 5%;
}
#title span{
	font-size: 200%;
	color: #FFFFFF;
	
}

#box-one{
	width: 100%;
	height: 60%;
	/* border: 2px solid red; */
	align-items: center;
	padding: 0 7%;
	box-sizing: border-box;
}
#box-input{
	position: relative;
	width: 100%;
	/* height: 23%; */
	/*border: 1px solid #000000;*/	
	margin-top: 8%;
	box-sizing: border-box;	
}
#box-input input{
	width: 100%;
	height: 45px;
	border-radius: 0.3rem;
	font-size: 1.5rem;
	padding-left: 10%;
	box-sizing: border-box;
}
.icons {
	position: absolute;
	font-size: 22px !important;
	color: #999;
	line-height: 45px;
	margin-left: 5px;
	top: 0;
	left: 0;
}
#box-input input::-webkit-input-placeholder{
	font-size: 70%;
}
#getCard{
	color: white;
	width: 100%;
	height: 45px;
	background-color: #ff9600;
	border-radius: 0.3rem;
	font-size: 1.5rem;
	outline: none;
	border:none;
}
.PlatformHomer {
	text-align: center;
	margin-top: 8%;
}
.PlatformHomer .layui-input-block {
	margin-left: 0;
}
.layui-form-item .layui-form-checkbox[lay-skin="primary"] {
	margin-top: 0 !important;
}
.platext,
.platext a {
	color: #fff;
	font-size: 16px;
}
.platext a {
	text-decoration: underline;
}
.platext a:hover {
	color: #009ddd;
}
.layui-form-checked[lay-skin="primary"] i {
	background: #009ddd !important;
	border-color: #009ddd !important;
}
.notices {
	display: none;
	padding: 20px;
}
.notices p {
	text-indent: 2em;
	font-size: 15px;
}
.notices p i {
	font-size: 8px;
}
/*#box-button{
	width: 100%;
	height: 20%;
	border: 1px solid #000000;
	text-align: center;
	font-size: 150%;
}*/
/*#getCard{
	font-size: 120%;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	background-color: #FF9600;
	color:#FFFFFF;
	margin-top: 15%;
}*/