*{
	border: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
body,html{
	width: 100%;
	height: 100%;
}

#box{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}


#return{
	width: 70mm;
    height: 21mm;
	position: relative;
	top: 6%;
	left: 4%;
}
#return>a{
	width: 100%;
	height: 100%;
	
}
#return>a>img{
	width: 100%;
	height: 100%;
}


#content{
	width: 25%;
	height: 55%;
	border-radius:2%;
    background-color:rgba(0,0,0,0.2);
	float: right;
	margin-right: 10%;
	margin-top: 8%;
	box-shadow: 0px 0px 10px -4px #ccc;
}


#title{
	width: 100%;
	height: 15%;
	/*border: 1px solid #000000;*/
	text-align: center;
	line-height: 4rem;
	padding-top: 5%;
}
#title span{
	font-size: 200%;
	color: #FFFFFF;
	
}

#box-one{
	width: 100%;
	height: 60%;
	/*border: 2px solid red;*/
	align-items: center;
}
#box-input{
	width: 80%;
	height: 23%;
	/*border: 1px solid #000000;*/	
	margin-top: 8%;
	margin-left: 7%;
	
}
#box-input input{
	width: 100%;
	height: 80%;
	border-radius: 0.3rem;
	font-size: 1.3rem;
	letter-spacing: 0.08rem;
	padding-left: 3%;
}
#box-input input::-webkit-input-placeholder{
	font-size: 70%;
}

#getCard{
	width: 100%;
	height: 80%;
	color: #FFFFFF;
	background-color: #ff9600;
	border-radius: 0.3rem;
	font-size: 1.5rem;
	outline: none;
	border:none;
}